<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>斯科特：谁场上不努力我就换下他</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c1.hoopchina.com.cn/uploads/star/event/images/151107/ddb7a018f420d6768fe5f2be05045d3d480580ad.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，开季四战皆负的洛杉矶湖人今天将会在客场挑战同样未尝胜绩的布鲁克林篮网。在比赛开始之前，湖人主帅拜伦-斯科特对球队的态度提出了批评。
“我要让那些会拼尽全力的球员上场，”斯科特说道，“因为这是我们过去六周一直在强调的事情，你必须在场上表现出来，而不是在训练中。所以我告诉他们，更像是告诫他们，谁在场上不努力，我就换其他人上场。”
斯科特透露今天湖人的首发还是不变，但是暗示新秀小拉里-南斯和老将梅塔-沃尔德皮斯可能会进入轮换阵容。
同时斯科特还对队中的三个年轻人提出了更高的要求：朱利叶斯-兰德尔、乔丹-克拉克森和丹吉洛-拉塞尔。
“我们的年轻球员必须持续提高，他们会的，”斯科特说道，“他们必须更快成长，因为作为一个教练来说，你希望他们现在就能成熟。但是你必须认清现实，你的首发里有19、20岁的年轻人，才打了一年大学篮球。所以他们还需要更多时间。就像我说的，我得保持耐心，但是我也告诉他们，我的耐心也不会持续很久。我希望他们能够在攻防两端快速成长。”</string>
	</dict>
	<dict>
		<key>title</key>
		<string>贾巴里-帕克将更换经纪人</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c2.hoopchina.com.cn/uploads/star/event/images/151107/d5f596dff8d714d127bbaa83fea67df4517d7472.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，据《密尔沃基哨兵报》记者Charles F. Gardner报道，雄鹿前锋贾巴里-帕克向他确认，他将会离开沃瑟曼媒体集团，与经纪人B.J. Armstrong分道扬镳。
帕克说，他还没有选择新的经纪人，在做出决定之前，他将会做一些研究。
随后，数位记者跟进了报道。欧洲篮球专栏作家David Pick称，有消息人士向他透露，帕克倾向于与里奇-保罗签约，而CSN记者Vincent Goodwill则表示，他听说帕克将聘请Dr. Charles Tucker作为经纪人。
里奇-保罗旗下拥有勒布朗-詹姆斯、特里斯坦-汤普森、埃里克-布莱索和诺里斯-科尔等客户，这个夏天，他帮助汤普森从骑士那里得到一份五年8200万美元的大合同。Dr. Charles Tucker在80年代被认为是NBA最有影响力的人物之一，他是许多人的朋友、知己和顾问，是名宿魔术师约翰逊、“微笑刺客”伊赛亚-托马斯、罗兰多-布莱克曼和史蒂夫-史密斯的前经纪人。
本赛季是帕克进入NBA的第二年，他在新秀赛季参加了25场比赛之后因为左膝前交叉韧带撕裂赛季报销。在前天对阵76人的比赛中，帕克迎来了复出，首发出场16分钟得到2分4个篮板1次助攻。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>卡戴珊家族在洛杉矶为奥多姆庆生</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c2.hoopchina.com.cn/uploads/star/event/images/151107/a328dd77150dba3f79c1a14d3085f3ccbd754317.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，根据TMZ的报道，卡戴珊家族的众人今日前往了洛杉矶的医疗中心为拉马尔-奥多姆庆祝生日。
今天是奥多姆36岁的生日，他在北京时间10月20日就住进了这家医疗中心。
TMZ方面被告知卡戴珊一行人在奥多姆的房间待了一会，而且一些被挑选过的奥多姆的几名好友也在现场。
消息人士透露，这些到场的朋友们中没有奥多姆那些吸毒的朋友们。
值得一提的是，卡戴珊一行人中有科勒-卡戴珊、金-卡戴珊和克丽丝-詹娜等人。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MVP榜：库里领衔，格里芬第二</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c1.hoopchina.com.cn/uploads/star/event/images/151107/92e81b7f09a7f16632e712b9c0dd58691ce5ee7d.png</string>
		<key>content</key>
		<string>北京时间11月7日，NBA官网公布了首周MVP榜，勇士球星斯蒂芬-库里稳居头名，快船前锋布雷克-格里芬排名第二。
1.斯蒂芬-库里，金州勇士
我们都知道库里和他的勇士有多优秀了：他们是NBA历史第5支连续两个赛季以5连胜开局的球队，此前的4支是迈克尔-乔丹1995-97年的公牛、哈基姆-奥拉朱旺1993-95年的火箭、比尔-拉塞尔1963-65年的凯尔特人和威尔特-张伯伦1966-68年的76人。除了76人，其他3支球队都最终完成了两连冠。
2.布雷克-格里芬，洛杉矶快船
当我们谈起联盟第一大前锋时，格里芬从没有第一个被想起，他总是排在鹈鹕球星安东尼-戴维斯的身后。但是从前5个赛季来看，格里芬一直保持稳定的进步，这一点非常值得注意。他在本赛季转变成了一位顶尖得分手(场均28.1分，命中率59%)，面筐进攻也成为了的一项可靠武器。
3.凯文-杜兰特，俄克拉荷马雷霆
杜兰特不愿把自己本赛季复出归类为“归来”，好吧，但我们这么叫你可别生气。杜兰特在场均得分榜上排名第二(29.8分)，他和威斯布鲁克让雷霆重新回到了西部强队行列。杜兰特还没有完全从脚伤中恢复，他的数据会回到受伤之前的水准，但是就目前来说，他已经是联盟顶尖得分手了。
4.拉塞尔-威斯布鲁克，俄克拉荷马雷霆
谁说威斯布鲁克不能同时充当得分手和杜兰特身边进攻创造者的身份？他场均送出10.5次助攻，每场比赛通过助攻帮助球队得到24.6分，这两项数据均为联盟第一。同时，他场均可以轰下27.2分，排名联盟第五。杜兰特回归后，威斯布鲁克的激情丝毫没有减退，雷霆要想回到西部豪强行列，威斯布鲁克的表现不可缺少。
5.勒布朗-詹姆斯，克利夫兰骑士
勒布朗坚称凯文-乐福本赛季会成为进攻焦点，但目前为止还很难看出来。勒布朗场均得到球队最高的22分，出手19.2次，而乐福这两项数据为17分和14.6次，但勒布朗心中确实是这么想的。他这么做是对的，在常规赛将任务分配给乐福，还有即将伤愈归来的凯里-欧文。同时，勒布朗还得继续做他最擅长的事情：带领骑士在本赛季完成更远大的目标。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>奥卡福：其他球队会越来越了解我</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c2.hoopchina.com.cn/uploads/star/event/images/151107/60ef12c1fbcac4f919e2e8da4adb65bf143eae62.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，根据《费城问询报》记者Keith Pompey的报道，贾利尔-奥卡福在本赛季的前四场比赛中场均可以贡献20.3分。
“我打得越多，看到过我打球的球队就越多，他们就会更多去研究我的比赛。”奥卡福说道。
奥卡福接着说：“所以我会接受我已经打出了一些不错的比赛的事实，但是我知道对手的研究会让这变得更难，而这也是我努力在训练中让自己状态变得更好的原因，努力练习一些事情。”
在周四对阵雄鹿的比赛中，奥卡福每次接球就遭到了对手的双人包夹。
另外，76人主帅布雷特-布朗三周前透露了76人一些伤员的情况，其中包括托尼-罗滕最早要在12月份复出，肯德尔-马绍尔最早要在11月复出。
布朗称现在情况跟之前一样，没有什么改变。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>鹈鹕史密斯11个助攻创生涯新高</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c2.hoopchina.com.cn/uploads/star/event/images/151107/bb23597bb5ccf12d6db640de4512e5f97bb046da.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，在正在进行的新奥尔良鹈鹕与亚特兰大老鹰的比赛中，鹈鹕后卫伊斯密尔-史密斯已经创下了个人职业生涯助攻新高。
比赛还在进行中，鹈鹕以101-106落后，比赛还剩下1分40秒。
史密斯上场33分钟，得到6分4个篮板及11次助攻，助攻创职业生涯新高。
夏天在被奇才裁掉之后，史密斯被鹈鹕认领。
作为2010年的落选秀，史密斯已经在5年内辗转流浪了8支NBA球队。 上赛季他最初效力于76人，之后又加盟了雷霆。在今年4月2日对阵奇才的比赛中，他拿到了职业生涯最高的23分。
上赛季史密斯出场55次，均场得到6.1分3.3次助攻和1.8个篮板。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>浓眉43分平职业生涯得分纪录</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c1.hoopchina.com.cn/uploads/star/event/images/151107/bfa9dde817fa5dfaf141d5f5d2548299a77da5cc.png</string>
		<key>content</key>
		<string>北京时间11月7日，鹈鹕在主场迎战老鹰，截至目前，安东尼-戴维斯已经得到43分。
43分是戴维斯职业生涯常规赛单场比赛得分纪录，此前他曾在两场比赛中拿到这一分数。
截至目前，戴维斯上场39分钟，22投14中得到43分10个篮板3次助攻4次抢断和3次封盖。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>格里芬谈被火箭逆转：吸取教训</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c1.hoopchina.com.cn/uploads/star/event/images/151107/dfa4ce44889fa51d46c899b3d76bcac97ab2a8ba.png</string>
		<key>content</key>
		<string>北京时间11月7日，快船即将在明天坐镇主场迎来火箭的挑战，布雷克-格里芬在接受采访时谈到了这位老对手。
上赛季西部半决赛中，快船在3-1领先火箭的情况下被对手连胜3场，淘汰出局。
“吸取该吸取的教训，然后忘掉其他的，”格里芬这样说道。
那一轮系列赛中，格里芬场均上场38.5分钟得到26.9分12.3个篮板和4.9次助攻。
“说实话，我并没有因此被折磨，但我会想着这件事，”格里芬说，“就像以前输掉系列赛一样，我也会去想，也许这次我会想得久一点，但最终我会迈过这个坎向前看。说到底，这个夏天我的目的就是让自己变得更优秀，做出一些改变。”
去年失利之后，快船众多球员都表达了心中的遗憾。
格里芬说：“做得差不多了，但还不算数。”
克里斯-保罗说：“离胜利如此接近，我甚至都不知道这意味着什么，我们很接近了，但还不够好。”
德安德鲁-乔丹说：“太打击人了，真的很失望……我现在没法用言语来形容。”
JJ-雷迪克说：“你永远也不想在体育中经历死亡，但这就像是守丧，参加葬礼。”
贾马尔-克劳福德说：“现在感觉这是个污点，像是个噩梦。”
马特-巴恩斯说：“3-1领先然后3连败出局，对我们当中的一些人来说，时间真的不多了，所以真的很难过。”</string>
	</dict>
	<dict>
		<key>title</key>
		<string>纳什：加拿大因为猛龙爱上了篮球</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c2.hoopchina.com.cn/uploads/star/event/images/151107/c5f784771549b0389103035aacf1aed73a092a9c.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，作为土生土长的加拿大人，已经退役的NBA巨星史蒂夫-纳什对于家乡球队多伦多猛龙有着特殊的感情。
“这很不可思议，对于我们国家的篮球来说，是件伟大的事情，”纳什说道，“我从小都在关注他们，因为他们提升了这个国家的篮球精神。”
新赛季开赛以来，猛龙五战全胜，创下队史纪录，高居东部第一。
“希望我们能够继续提升这支球队，因为……这是我们国家的球队，整个国家都很热爱这支球队。”纳什说道。
作为加拿大男篮的总经理，看到加拿大篮球事业的进步，纳什乐在其中。
“这个国家参与篮球的孩子们的数量，关注这项运动，关注猛龙队的球迷数量很不可思议——这是前所未有的情况，特别是对于美国以外的NBA市场来说，”纳什说道，“篮球在加拿大全国范围内广泛传播，就像星星之火一般。”</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ESPN：乔尔格很可能会下课</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c1.hoopchina.com.cn/uploads/star/event/images/151107/2a40013d87007eafffbb3bfe626bdf74350c59ae.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，根据ESPN记者Marc Stein的报道，消息人士透露，灰熊主帅戴夫-乔尔格可能会是一个下课的热门人选。
在本周早些时候公布一份教练下课赔率的名单中并没有乔尔格的名字，消息人士透露，乔尔格很可能会是一个下课的热门人选。
在新赛季开始至今，灰熊只取得了3胜3负的战绩，暂列西部第9位。
消息人士透露，灰熊这三场比赛的失利方式已经让灰熊内部产生了一种恐惧，灰熊老板罗伯特-佩拉可能在做出改变前不会等太久。
特别是在灰熊输给开拓者的比赛中，开拓者的内线埃德-戴维斯出战23分钟，拿到了9分8篮板，不过当戴维斯还在灰熊的时候，他没能在乔尔格手下得到多少机会。
消息人士透露，佩拉一直对乔尔格的领导力感到怀疑，因此，在2014年，灰熊管理层任命了Jeff Bzdelik，让其作为灰熊的首席助教。
值得一提的是，众所周知，佩拉非常喜欢汤姆-锡伯杜。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海耶斯：很难过看到国王辉煌不在</string>
		<key>newsIcon</key>
		<string>http://img04.store.sogou.com/net/a/66/link?appid=66&amp;url=http://c1.hoopchina.com.cn/uploads/star/event/images/151107/3af2eab52be6169df2307b0a4ef801f6f25f1e49.jpg</string>
		<key>content</key>
		<string>北京时间11月7日，根据《休斯顿纪事报》的报道，查克-海耶斯表示，看到国王没有了之前的那种辉煌让他很难过。
海耶斯曾在国王效力过，火箭在今天将面对国王。
“当你想到国王，你会想到克里斯-韦伯、里克-阿德尔曼和弗拉德-迪瓦茨。”海耶斯说，“在我小的时候，我买不起球票，所以我就在电视上看比赛，能来到这里让人感到难以置信，这让人感到难过，对我来说，这里仍然是国王的主场，对这里的很多人来说，这里仍然还是国王主场。”
海耶斯接着说：“我记得当我还是新秀的时候，我第一次来这打球的时候让我起了鸡皮疙瘩，我在上学的时候，如果国王可以打进季后赛，那么他们就会在季后赛中走很远，看到国王之前的辉煌不在了让人难过。”</string>
	</dict>
</array>
</plist>
